extends adminLayout

block content
  div(class='nav-bar')
    a(class='logo', href='/')
      b mindYourFood
    div(class='login-signup')
      a(class='login', href="/admin/login") Login

  p 
    h1 WELCOME TO ADMIN INTERFACE
    h2 Proceed With Caution