extends layout

block content
  div(class='nav-bar')
    a(class='logo', href='/')
      b mindYourFood
    div(class='login-signup')
      a(class='adminLogin', href="/admin") Admin?
      a(class='login', href="/login") Login
      a(class='signup', href='/signup') Signup
      