body,
html {
    height: 100%;
    margin: 0;
    background-image: url('../images/image2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    cursor: pointer;
}

.nav-bar {
    background-color: #2F4F4F;
    height: 50px;
    width: 100%;
    font-size: 40px;
    display: inline-block;
}

a:link {
    text-decoration: none;
}

.logo {
    color: orange;
}

.login-signup {
    float: right;
}

.admin-dashboard {
    float: right;
}

.adminLogin {
    color: black;
    font-size: 25px;
    margin-right: 5px;
}

.admin {
    color: black;
    font-size: 25px;
    margin-right: 5px;
}

.login {
    color: black;
    font-size: 25px;
    margin-right: 5px;
}

.signup {
    color: black;
    font-size: 25px;
    margin-right: 8px;
}

#adminLoginForm {
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

#userListPanel {
    list-style-type: none;
    text-align: center;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    display: none;
    overflow-y: scroll;
    /*height: auto;*/
    /*border: 4px ridge orange;*/
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div.userListPanel>* {
    font-size: 15px;
    color: orange;
}